{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div id="login-page" class="login-page">
        <div class="container-login">

            {# Background Image #}
            <div class="login-bg-img">
                <img src="{{ asset('img/bg/login_bg.jpg') }}" alt="Login background image">
            </div>

            <div class="row-login">
                <div class="login-form-wrapper">
                    <form method="post" class="d-flex justify-content-center flex-column">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                            </div>
                        {% endif %}

                        <h1 class="h3 mb-3 pb-5 pt-3 font-weight-normal d-flex justify-content-center align-items-center"><b><a
                                    href="{{ path('app_main') }}">Add An Ad</a></b></h1>
                        <h2 class="h3 mb-4 font-weight-normal d-flex justify-content-center align-items-center"><b>Sign in</b></h2>
                        <div class="form-floating mb-3">
                            <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
                            <label for="username">Email</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
                            <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">
                            <label for="password">Password</label>
                        </div>

                            {#
                            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                            See https://symfony.com/doc/current/security/remember_me.html

                            <div class="checkbox mb-3">
                                <input type="checkbox" name="_remember_me" id="_remember_me">
                                <label for="_remember_me">Remember me</label>
                            </div>
                            #}

                        <button class="btn btn-lg btn-primary justify-content-center" type="submit">
                            Sign in
                        </button>
                    </form>
                </div>
            </div>

        </div>{# end .container-login #}
    </div>{# end #login-page.login-page #}


{% endblock %}
