{% extends 'base.html.twig' %}

{% block title %}Add An Ad - dodaj swoje ogłoszenie nieruchomości, działki, samochodu lub inne jakie chcesz sprzedać lub wynająć. {% endblock %}

{% block body %}

    {% include 'header.main.html.twig' %}

    <section id="add-promoted-adds" class="add-promoted-adds container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <div class="section-title p-5 d-flex justify-content-center align-items-center">
                        <h2 class="text-center text-White text-bold">Promowane Ogłoszenia:</h2>
                    </div>

                    <div class="owl-carousel box-card">
                        {# Card 1 #}
                        <div class="card" style="width: 100%;">
                            <img style="height: 260px;object-fit: cover" src="{{ asset('img/apartment_building_01.jpg') }}" class="card-img-top" alt="Building No. 1">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="info-location">
                                        <a href="#"><span>Mazowieckie</span></a>
                                        <span class="info-separator">/</span>
                                        <a href="#"><span>Warszawa</span></a>
                                    </div>
                                    <div class="adds-favourites">
                                        <a href="#"><i class="fa-regular fa-heart"></i></a>
                                    </div>
                                </div>
                                <div class="top-card d-flex justify-content-between align-items-center">
                                    <strong><h5 class="card-title">Mieszkanie na ul. Kasprzaka</h5></strong>
                                </div>
                                <div class="card-info-property d-flex justify-content-between align-items-center">
                                    <span>31 m2</span>
                                    <span class="card-price">349 000 zł</span>
                                </div>
                            </div>
                        </div>


                        {# Card 2 #}
                        <div class="card" style="width: 100%;">
                            <img style="height: 260px;object-fit: cover" src="{{ asset('img/apartment_building_02.jpg') }}" class="card-img-top" alt="Building No. 1">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="info-location">
                                        <a href="#"><span>Mazowieckie</span></a>
                                        <span class="info-separator">/</span>
                                        <a href="#"><span>Warszawa</span></a>
                                    </div>
                                    <div class="adds-favourites">
                                        <a href="#"><i class="fa-regular fa-heart"></i></a>
                                    </div>
                                </div>
                                <div class="top-card d-flex justify-content-between align-items-center">
                                    <strong><h5 class="card-title">Ursynów Jagielońska</h5></strong>
                                </div>
                                <div class="card-info-property d-flex justify-content-between align-items-center">
                                    <span>44 m2</span>
                                    <span class="card-price">549 000 zł</span>
                                </div>
                            </div>
                        </div>

                        {# Card 3 #}
                        <div class="card" style="width: 100%;">
                            <img style="height: 260px;object-fit: cover" src="{{ asset('img/apartment_building_03.jpg') }}" class="card-img-top" alt="Building No. 1">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="info-location">
                                        <a href="#"><span>Mazowieckie</span></a>
                                        <span class="info-separator">/</span>
                                        <a href="#"><span>Warszawa</span></a>
                                    </div>
                                    <div class="adds-favourites">
                                        <a href="#"><i class="fa-regular fa-heart"></i></a>
                                    </div>
                                </div>
                                <div class="top-card d-flex justify-content-between align-items-center">
                                    <strong><h5 class="card-title">Przestronne mieszkanie na ulicy Łazienkowskiej</h5></strong>

                                </div>
                                <div class="card-info-property d-flex justify-content-between align-items-center">
                                    <span>64 m2</span>
                                    <span class="card-price d-inline-block">649 000 zł</span>
                                </div>
                            </div>
                        </div>

                        {# Card 4 #}
                        <div class="card" style="width: 100%;">
                            <img style="height: 260px;object-fit: cover" src="{{ asset('img/apartment_building_04.jpg') }}" class="card-img-top" alt="Building No. 1">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="info-location">
                                        <a href="#"><span>Mazowieckie</span></a>
                                        <span class="info-separator">/</span>
                                        <a href="#"><span>Warszawa</span></a>
                                    </div>
                                    <div class="adds-favourites">
                                        <a href="#"><i class="fa-regular fa-heart"></i></a>
                                    </div>
                                </div>
                                <div class="top-card d-flex justify-content-between align-items-center">
                                    <strong><h5 class="card-title">Metro Racławicka</h5></strong>

                                </div>
                                <div class="card-info-property d-flex justify-content-between align-items-center">
                                    <span>68 m2</span>
                                    <span class="card-price">849 000 zł</span>
                                </div>
                            </div>
                        </div>

                        {# Card 5 #}
                        <div class="card" style="width: 100%;">
                            <img style="height: 260px;object-fit: cover" src="{{ asset('img/apartment_building_05.jpg') }}" class="card-img-top" alt="Building No. 1">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="info-location">
                                        <a href="#"><span>Mazowieckie</span></a>
                                        <span class="info-separator">/</span>
                                        <a href="#"><span>Warszawa</span></a>
                                    </div>
                                    <div class="adds-favourites">
                                        <a href="#"><i class="fa-regular fa-heart"></i></a>
                                    </div>
                                </div>
                                <div class="top-card d-flex justify-content-between align-items-center">
                                    <strong><h4 class="card-title">Mieszkania Ursus</h4></strong>

                                </div>
                                <div class="card-info-property d-flex justify-content-between align-items-center">
                                    <span>38 m2</span>
                                    <span class="card-price">449 000 zł</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="add-main-page-categories">
        <div class="container-fluid">
            <div class="container">
                <div class="row">

                    <div class="section-title p-5 d-flex justify-content-center align-items-center">
                        <h2 class="text-center text-White text-bold">Kategorie:</h2>
                    </div>

                    <div class="col-12 col-sm-12 col-sm-md-6">
                        <ul class="add-cat-mp-menu">

                            <li class="add-cat-item-mp">
                                <a href="#">
                                    <img class="img-fluid" src="{{ asset('img/flats.jpg') }}" alt="Kategoria Mieszkania">
                                    <span class="cat-name">Mieszkania</span>
                                </a>
                            </li>

                            <li class="add-cat-item-mp">
                                <a href="#">
                                    <img class="img-fluid" src="{{ asset('img/house1.jpg') }}" alt="Kategoria Domy">
                                    <span class="cat-name">Domy</span>
                                </a>
                            </li>

                            <li class="add-cat-item-mp">
                                <a href="#">
                                    <img class="img-fluid" src="{{ asset('img/room3.jpg') }}" alt="Kategoria Pokoje">
                                    <span class="cat-name">Pokoje</span>
                                </a>
                            </li>

                            <li class="add-cat-item-mp">
                                <a href="#">
                                    <img class="img-fluid" src="{{ asset('img/plot_01.jpg') }}" alt="Kategoria Działki">
                                    <span class="cat-name">Działki</span>
                                </a>
                            </li>

                            <li class="add-cat-item-mp">
                                <a href="#">
                                    <img class="img-fluid" src="{{ asset('img/moto01.jpg') }}" alt="Kategoria Motoryzacja">
                                    <span class="cat-name">Motoryzacja</span>
                                </a>
                            </li>

                            <li class="add-cat-item-mp">
                                <a href="#">
                                    <img class="img-fluid" src="{{ asset('img/elektro_01.jpg') }}" alt="Kategoria Elektronika">
                                    <span class="cat-name">Elektronika</span>
                                </a>
                            </li>

                            <li class="add-cat-item-mp">
                                <a href="#">
                                    <img class="img-fluid" src="{{ asset('img/moda01.jpg') }}" alt="Kategoria Moda">
                                    <span class="cat-name">Moda</span>
                                </a>
                            </li>

                            <li class="add-cat-item-mp">
                                <a href="#">
                                    <img class="img-fluid" src="{{ asset('img/job_01.jpg') }}" alt="Kategoria Praca">
                                    <span class="cat-name">Praca</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="add-add container-fluid d-flex justify-content-center align-items-center shadow" style="height: 340px;background-color: #f1f1f1">
        <h2 class="text-dark text-bold">Miejsce na Twoją reklamę</h2>
    </section>

    <section id="add-latest-adds" class="add-latest-adds container-fluid bg-white">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <div class="section-title p-5 d-flex justify-content-center align-items-center">
                        <h2 class="text-center text-White text-bold">Najnowsze:</h2>
                    </div>
                </div>

                <div class="d-flex flex-wrap justify-content-between align-items-stretch">

                    {# Card 1 #}
                    <div class="box-card w-25 p-2">
                        <div class="card">
                            <img style="height: 260px;object-fit: cover" src="{{ asset('img/moto_01.jpg') }}" class="card-img-top" alt="Moto No. 1">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="#"><span>Warszawa</span></a>
                                    <a href="#"><i class="fa-regular fa-heart"></i></a>
                                </div>
                                <div class="top-card d-flex justify-content-between align-items-center">
                                    <strong><h4 class="card-title">Citroen i7</h4></strong>
                                    <span class="card-price">120 000 zł </span>
                                </div>
                            </div>
                        </div>
                    </div>


                    {# Card 2 #}
                    <div class="box-card w-25 p-2">
                        <div class="card">
                            <img style="height: 260px;object-fit: cover" src="{{ asset('img/electro_01.jpg') }}" class="card-img-top" alt="Moto No. 1">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="#"><span>Kolobrzeg</span></a>
                                    <a href="#"><i class="fa-regular fa-heart"></i></a>
                                </div>
                                <div class="top-card d-flex justify-content-between align-items-center">
                                    <strong><h4 class="card-title">iMac</h4></strong>
                                    <span class="card-price">7 999 zł </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    {# Card 3 #}
                    <div class="box-card w-25 p-2">
                        <div class="card">
                            <img style="height: 260px;object-fit: cover" src="{{ asset('img/job_img_01.jpg') }}" class="card-img-top" alt="Job">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="#"><span>Warszawa</span></a>
                                    <a href="#"><i class="fa-regular fa-heart"></i></a>
                                </div>
                                <div class="top-card d-flex justify-content-between align-items-center">
                                    <strong><h4 class="card-title">Work in Service</h4></strong>
                                    <span class="card-price">6 500 zł</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    {# Card 4 #}
                    <div class="box-card w-25 p-2">
                        <div class="card">
                            <img style="height: 260px;object-fit: cover" src="{{ asset('img/moto_02.jpg') }}" class="card-img-top" alt="Job">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="#"><span>Toruń</span></a>
                                    <a href="#"><i class="fa-regular fa-heart"></i></a>
                                </div>
                                <div class="top-card d-flex justify-content-between align-items-center">
                                    <strong><h4 class="card-title">BMW 5</h4></strong>
                                    <span class="card-price">99 500 zł</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    {# Card 5 #}
                    <div class="box-card w-25 p-2">
                        <div class="card">
                            <img style="height: 260px;object-fit: cover" src="{{ asset('img/electro_02.jpg') }}" class="card-img-top" alt="IPhone 15 pro">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="#"><span>Kraków</span></a>
                                    <a href="#"><i class="fa-regular fa-heart"></i></a>
                                </div>
                                <div class="top-card d-flex justify-content-between align-items-center">
                                    <strong><h4 class="card-title">I Phone 15 pro</h4></strong>
                                    <span class="card-price">3 900 zł</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    {# Card 6 #}
                    <div class="box-card w-25 p-2">
                        <div class="card">
                            <img style="height: 260px;object-fit: cover" src="{{ asset('img/room_01.jpg') }}" class="card-img-top" alt="Pokój na Ursusie">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="#"><span>Warszawa</span></a>
                                    <a href="#"><i class="fa-regular fa-heart"></i></a>
                                </div>
                                <div class="top-card d-flex justify-content-between align-items-center">
                                    <strong><h4 class="card-title">Pokój na Ursusie</h4></strong>
                                    <span class="card-price">1 450 zł</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    {# Card 7 #}
                    <div class="box-card w-25 p-2">
                        <div class="card">
                            <img style="height: 260px;object-fit: cover" src="{{ asset('img/moda_01.jpg') }}" class="card-img-top" alt="weter Damski - Da Vinci">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="#"><span>Łódż</span></a>
                                    <a href="#"><i class="fa-regular fa-heart"></i></a>
                                </div>
                                <div class="top-card d-flex justify-content-between align-items-center">
                                    <strong><h4 class="card-title">Sweter Damski - Da Vinci</h4></strong>
                                    <span class="card-price">290 zł</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    {# Card 8 #}
                    <div class="box-card w-25 p-2">
                        <div class="card">
                            <img style="height: 260px;object-fit: cover" src="{{ asset('img/apartment_building_04.jpg') }}" class="card-img-top" alt="Mieskzanie w apartamentowcu">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="#"><span>Warszawa</span></a>
                                    <a href="#"><i class="fa-regular fa-heart"></i></a>
                                </div>
                                <div class="top-card d-flex justify-content-between align-items-center">
                                    <strong><h4 class="card-title">Mieszkanie na ul.Kaspraka</h4></strong>
                                    <span class="card-price">349 000 zł</span>
                                </div>
                            </div>
                        </div>
                    </div>


                    {# Card 9 #}
                    <div class="box-card w-25 p-2">
                        <div class="card">
                            <img style="height: 260px;object-fit: cover" src="{{ asset('img/moda_02.jpg') }}" class="card-img-top" alt="Suknia długa - Dacia">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="#"><span>Gdańsk</span></a>
                                    <a href="#"><i class="fa-regular fa-heart"></i></a>
                                </div>
                                <div class="top-card d-flex justify-content-between align-items-center">
                                    <strong><h4 class="card-title">Suknia długa - Dacia</h4></strong>
                                    <span class="card-price">499 zł</span>
                                </div>
                            </div>
                        </div>
                    </div>


                    {# Card 10 #}
                    <div class="box-card w-25 p-2">
                        <div class="card">
                            <img style="height: 260px;object-fit: cover" src="{{ asset('img/moda_03.jpg') }}" class="card-img-top" alt="Suknia krótka - Dacia">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="#"><span>Gdańsk</span></a>
                                    <a href="#"><i class="fa-regular fa-heart"></i></a>
                                </div>
                                <div class="top-card d-flex justify-content-between align-items-center">
                                    <strong><h4 class="card-title">Suknia krótka - Dacia</h4></strong>
                                    <span class="card-price">299 zł</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    {# Card 11 #}
                    <div class="box-card w-25 p-2">
                        <div class="card">
                            <img style="height: 260px;object-fit: cover" src="{{ asset('img/room_03.jpg') }}" class="card-img-top" alt="Pokój na Żoliborzu">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="#"><span>Warszawa</span></a>
                                    <a href="#"><i class="fa-regular fa-heart"></i></a>
                                </div>
                                <div class="top-card d-flex justify-content-between align-items-center">
                                    <strong><h4 class="card-title">Pokój na Żoliborzu</h4></strong>
                                    <span class="card-price">1 650 zł</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    {# Card 12 #}
                    <div class="box-card w-25 p-2">
                        <div class="card">
                            <img style="height: 260px;object-fit: cover" src="{{ asset('img/shoes_01.jpg') }}" class="card-img-top" alt="Buty UA">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="#"><span>Warszawa</span></a>
                                    <a href="#"><i class="fa-regular fa-heart"></i></a>
                                </div>
                                <div class="top-card d-flex justify-content-between align-items-center">
                                    <strong><h4 class="card-title">Buty UA</h4></strong>
                                    <span class="card-price">199 zł</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>



            </div>
        </div>
    </section>

    <section id="add-houses-adds" class="add-houses-adds container-fluid bg-light p-5">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <div class="section-title p-5 d-flex justify-content-center align-items-center">
                        <h2 class="text-center text-White text-bold">Domy:</h2>
                    </div>
                </div>

                {# Column 1 #}
                <div class="col-12 col-sm-6 col-md-3 box-card">
                    {# Card 1 #}
                    <div class="card" style="width: 100%;">
                            <img style="height: 260px;object-fit: cover" src="{{ asset('img/forest_house_01.jpg') }}" class="card-img-top" alt="Forest House No. 1">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="info-location">
                                        <a href="#"><span>Małopolskie</span></a>
                                        <span class="info-separator">/</span>
                                        <a href="#"><span>Nowy Targ</span></a>
                                    </div>
                                    <div class="adds-favourites">
                                        <a href="#"><i class="fa-regular fa-heart"></i></a>
                                    </div>
                                </div>
                                <div class="top-card d-flex justify-content-between align-items-center">
                                    <h5 class="card-title">Chatka góralska</h5>
                                </div>
                                <div class="card-price d-flex justify-content-between">
                                    <span class="card-price">7 500 zł / tydz.</span>
                                    <span>120 m2</span>
                                </div>
                            </div>
                        </div>
                </div>
                {# end Column 1 #}


                {# Column 2 #}
                <div class="col-12 col-sm-6 col-md-3 box-card">
                    {# Card 2 #}
                    <div class="card" style="width: 100%;">
                        <img style="height: 260px;object-fit: cover" src="{{ asset('img/forest_house_02.jpg') }}" class="card-img-top" alt="Forest House No. 2">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="info-location">
                                    <a href="#"><span>Śląskie</span></a>
                                    <span class="info-separator">/</span>
                                    <a href="#"><span>Jeleśnia</span></a>
                                </div>
                                <div class="adds-favourites">
                                    <a href="#"><i class="fa-regular fa-heart"></i></a>
                                </div>
                            </div>
                            <div class="top-card d-flex justify-content-between align-items-center">
                                <h5 class="card-title">Chata do wynajęcia</h5>
                            </div>
                            <div class="card-price d-flex justify-content-between">
                                <span class="card-price">9 500 zł / tydz.</span>
                                <span>144 m2</span>
                            </div>
                        </div>
                    </div>
                </div>
                {# end Column 2 #}


                {# Column 3 #}
                <div class="col-12 col-sm-6 col-md-3 box-card">
                    {# Card 3 #}
                    <div class="card" style="width: 100%;">
                            <img style="height: 260px;object-fit: cover" src="{{ asset('img/forest_house_03.jpg') }}" class="card-img-top" alt="Forest House No. 3">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="info-location">
                                        <a href="#"><span>Śląskie</span></a>
                                        <span class="info-separator">/</span>
                                        <a href="#"><span>Żywiec</span></a>
                                    </div>
                                    <div class="adds-favourites">
                                        <a href="#"><i class="fa-regular fa-heart"></i></a>
                                    </div>
                                </div>
                                <div class="top-card d-flex justify-content-between align-items-center">
                                    <h5 class="card-title">Willa na wynajem</h5>
                                </div>
                                <div class="card-price d-flex justify-content-between">
                                    <span class="card-price">11 500 zł / tydz.</span>
                                    <span>180 m2</span>
                                </div>
                            </div>
                        </div>
                </div>
                {# end Column 3 #}


                {# Column 4 #}
                <div class="col-12 col-sm-6 col-md-3 box-card">
                    {# Card 4 #}
                    <div class="card" style="width: 100%;">
                            <img style="height: 260px;object-fit: cover" src="{{ asset('img/forest_house_04.jpg') }}" class="card-img-top" alt="Forest House No. 4">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="info-location">
                                        <a href="#"><span>Śląskie</span></a>
                                        <span class="info-separator">/</span>
                                        <a href="#"><span>Żywiec</span></a>
                                    </div>
                                    <div class="adds-favourites">
                                        <a href="#"><i class="fa-regular fa-heart"></i></a>
                                    </div>
                                </div>
                                <div class="top-card d-flex justify-content-between align-items-center">
                                    <h5 class="card-title">Willa na wynajem</h5>
                                </div>
                                <div class="card-price d-flex justify-content-between">
                                    <span class="card-price">11 500 zł / tydz.</span>
                                    <span>180 m2</span>
                                </div>
                            </div>
                        </div>
                </div>
                {# end Column 4 #}


            </div>
        </div>
    </section>

    {% include 'footer.main.html.twig' %}

{% endblock %}
