{% extends 'base.html.twig' %}

{% block title %}Add An Ad - dodaj swoje ogłoszenie nieruchomości, działki, samochodu lub inne jakie chcesz sprzedać lub wynająć. {% endblock %}

{% block body %}
    {% include 'header.main.html.twig' %}

    <section class="add-main-page-categories">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-sm-md-6">
                        <ul class="add-cat-mp-menu">

                            <li class="add-cat-item-mp">
                                <a href="#">
                                    <img class="img-fluid" src="{{ asset('img/flats.jpg') }}" alt="Kategoria Mieszkania">
                                    <span class="cat-name">Mieszkania</span>
                                </a>
                            </li>

                            <li class="add-cat-item-mp">
                                <a href="#">
                                    <img class="img-fluid" src="{{ asset('img/house1.jpg') }}" alt="Kategoria Domy">
                                    <span class="cat-name">Domy</span>
                                </a>
                            </li>

                            <li class="add-cat-item-mp">
                                <a href="#">
                                    <img class="img-fluid" src="{{ asset('img/room3.jpg') }}" alt="Kategoria Pokoje">
                                    <span class="cat-name">Pokoje</span>
                                </a>
                            </li>

                            <li class="add-cat-item-mp">
                                <a href="#">
                                    <img class="img-fluid" src="{{ asset('img/plot_01.jpg') }}" alt="Kategoria Działki">
                                    <span class="cat-name">Działki</span>
                                </a>
                            </li>

                            <li class="add-cat-item-mp">
                                <a href="#">
                                    <img class="img-fluid" src="{{ asset('img/moto01.jpg') }}" alt="Kategoria Motoryzacja">
                                    <span class="cat-name">Motoryzacja</span>
                                </a>
                            </li>

                            <li class="add-cat-item-mp">
                                <a href="#">
                                    <img class="img-fluid" src="{{ asset('img/elektro_01.jpg') }}" alt="Kategoria Elektronika">
                                    <span class="cat-name">Elektronika</span>
                                </a>
                            </li>

                            <li class="add-cat-item-mp">
                                <a href="#">
                                    <img class="img-fluid" src="{{ asset('img/moda01.jpg') }}" alt="Kategoria Moda">
                                    <span class="cat-name">Moda</span>
                                </a>
                            </li>

                            <li class="add-cat-item-mp">
                                <a href="#">
                                    <img class="img-fluid" src="{{ asset('img/job_01.jpg') }}" alt="Kategoria Praca">
                                    <span class="cat-name">Praca</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="add-add container-fluid p-5 d-flex justify-content-center align-items-center shadow" style="height: 340px;background-color: #f1f1f1">
        <h2 class="text-dark text-bold">Miejsce na Twoją reklamę</h2>
    </section>

    <section id="add-promoted-adds" class="add-promoted-adds container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <div class="section-title p-5 d-flex justify-content-center align-items-center">
                        <h2 class="text-center text-White text-bold">Promowane Ogłoszenia:</h2>
                    </div>

                    <div class="owl-carousel">
                        {# Card 1 #}
                        <div class="card" style="width: 100%;">
                            <img style="height: 260px;object-fit: cover" src="{{ asset('img/building_01.jpg') }}" class="card-img-top" alt="Building No. 1">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="info-location">
                                        <span>MAZOWIECKIE</span>
                                        <span class="info-separator">/</span>
                                        <span>Warszawa</span>
                                    </div>
                                </div>
                                <div class="top-card d-flex justify-content-between align-items-center">
                                    <strong><h4 class="card-title">Mieszkanie na ul.Kasprzaka</h4></strong>
                                    <span class="card-price">349 000 zł</span>
                                </div>
                                <div class="card-info-property d-flex justify-content-between align-items-center">
                                    <span>44 m2</span>
                                    <span>2 pokoje</span>
                                    <span>piętro 4/6</span>
                                </div>
                            </div>
                        </div>

                        {# Card 2 #}
                        <div class="card" style="width: 100%;">
                            <img style="height: 260px;object-fit: cover" src="{{ asset('img/building_02.jpg') }}" class="card-img-top" alt="Building No. 1">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="info-location">
                                        <span>MAZOWIECKIE</span>
                                        <span class="info-separator">/</span>
                                        <span>Warszawa</span>
                                    </div>
                                    <span>7932 zł/m2</span>
                                </div>
                                <div class="top-card d-flex justify-content-between align-items-center">
                                    <strong><h5 class="card-title">Mieszkanie na ul.Kasprzaka</h5></strong>
                                    <span class="card-price">349 000 zł</span>
                                </div>
                                <div class="card-info-property d-flex justify-content-between align-items-center">
                                    <span>44 m2</span>
                                    <span>2 pokoje</span>
                                    <span>piętro 4/6</span>
                                </div>
                            </div>
                        </div>

                        {# Card 3 #}
                        <div class="card" style="width: 100%;">
                            <img style="height: 260px;object-fit: cover" src="{{ asset('img/building_03.jpg') }}" class="card-img-top" alt="Building No. 1">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="info-location">
                                        <span>MAZOWIECKIE</span>
                                        <span class="info-separator">/</span>
                                        <span>Warszawa</span>
                                    </div>
                                    <span>8446 zł/m2</span>
                                </div>
                                <div class="top-card d-flex justify-content-between align-items-center">
                                    <strong><h5 class="card-title">Przestronne mieszkanie na ulicy Łazienkowskiej</h5></strong>
                                    <span class="card-price d-inline-block">549 000 zł</span>
                                </div>
                                <div class="card-info-property d-flex justify-content-between align-items-center">
                                    <span>44 m2</span>
                                    <span>4 pokoje</span>
                                    <span>piętro 4/6</span>
                                </div>
                            </div>
                        </div>

                        {# Card 4 #}
                        <div class="card" style="width: 100%;">
                            <img style="height: 260px;object-fit: cover" src="{{ asset('img/building_04.jpg') }}" class="card-img-top" alt="Building No. 1">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="info-location">
                                        <span>MAZOWIECKIE</span>
                                        <span class="info-separator">/</span>
                                        <span>Warszawa</span>
                                    </div>
                                    <span>7932 zł/m2</span>
                                </div>
                                <div class="top-card d-flex justify-content-between align-items-center">
                                    <strong><h4 class="card-title">Mieszkanie na ul.Kasprzaka</h4></strong>
                                    <span class="card-price">349 000 zł</span>
                                </div>
                                <div class="card-info-property d-flex justify-content-between align-items-center">
                                    <span>44 m2</span>
                                    <span>2 pokoje</span>
                                    <span>piętro 4/6</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section id="add-promoted-adds" class="add-promoted-adds container-fluid bg-light mt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <div class="section-title p-5 d-flex justify-content-center align-items-center">
                        <h2 class="text-center text-White text-bold">Najnowsze:</h2>
                    </div>
                </div>

                {# Column 1 #}
                <div class="col-12 col-sm-6 col-md-3">

                    {# Card 1 #}
                    <div class="card" style="width: 100%;">
                        <img style="height: 260px;object-fit: cover" src="{{ asset('img/forest_house_01.jpg') }}" class="card-img-top" alt="Forest House No. 1">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="info-location">
                                    <span>MAŁOPOLSKA</span>
                                    <span class="info-separator">/</span>
                                    <span>Zakopane</span>
                                </div>
                            </div>
                            <div class="top-card d-flex justify-content-between align-items-center">
                                <strong><h4 class="card-title">Dom na wynajem</h4></strong>
                                <span class="card-price">7 000 zł / tydz.</span>
                            </div>
                            <div class="card-info-property d-flex justify-content-between align-items-center">
                                <span>120 m2</span>
                                <span>6 pokoji</span>
                            </div>
                        </div>
                    </div>

                </div>

                {# Column 2 #}
                <div class="col-12 col-sm-6 col-md-3">

                    {# Card 2 #}
                    <div class="card" style="width: 100%;">
                        <img style="height: 260px;object-fit: cover" src="{{ asset('img/forest_house_02.jpg') }}" class="card-img-top" alt="Forest House No. 2">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="info-location">
                                    <span>ŚLĄSKIE</span>
                                    <span class="info-separator">/</span>
                                    <span>Żywiec</span>
                                </div>
                            </div>
                            <div class="top-card d-flex justify-content-between align-items-center">
                                <strong><h4 class="card-title">Willa na wynajem</h4></strong>
                                <span class="card-price">11 500 zł / tydz.</span>
                            </div>
                            <div class="card-info-property d-flex justify-content-between align-items-center">
                                <span>180 m2</span>
                                <span>8 pokoji</span>
                            </div>
                        </div>
                    </div>

                </div>

                {# Column 3 #}
                <div class="col-12 col-sm-6 col-md-3">

                    {# Card 3 #}
                    <div class="card" style="width: 100%;">
                        <img style="height: 260px;object-fit: cover" src="{{ asset('img/forest_house_03.jpg') }}" class="card-img-top" alt="Forest House No. 3">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="info-location">
                                    <span>ŚLĄSKIE</span>
                                    <span class="info-separator">/</span>
                                    <span>Żywiec</span>
                                </div>
                            </div>
                            <div class="top-card d-flex justify-content-between align-items-center">
                                <strong><h4 class="card-title">Willa na wynajem</h4></strong>
                                <span class="card-price">11 500 zł / tydz.</span>
                            </div>
                            <div class="card-info-property d-flex justify-content-between align-items-center">
                                <span>180 m2</span>
                                <span>8 pokoji</span>
                            </div>
                        </div>
                    </div>

                </div>

                {# Column 4 #}
                <div class="col-12 col-sm-6 col-md-3">

                    {# Card 4 #}
                    <div class="card" style="width: 100%;">
                        <img style="height: 260px;object-fit: cover" src="{{ asset('img/forest_house_04.jpg') }}" class="card-img-top" alt="Forest House No. 4">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="info-location">
                                    <span>ŚLĄSKIE</span>
                                    <span class="info-separator">/</span>
                                    <span>Żywiec</span>
                                </div>
                            </div>
                            <div class="top-card d-flex justify-content-between align-items-center">
                                <strong><h4 class="card-title">Willa na wynajem</h4></strong>
                                <span class="card-price">11 500 zł / tydz.</span>
                            </div>
                            <div class="card-info-property d-flex justify-content-between align-items-center">
                                <span>180 m2</span>
                                <span>8 pokoji</span>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </section>

    {% include 'footer.main.html.twig' %}
{% endblock %}
