{% extends 'base.html.twig' %}

{% block title %}Add An Ad - dodaj swoje ogłoszenie nieruchomości, działki, samochodu lub inne jakie chcesz sprzedać lub wynająć. {% endblock %}

{% block body %}
    {% include 'header.main.html.twig' %}

    <section class="add-main-page-categories">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-sm-md-6">
                        <ul class="add-cat-mp-menu">

                            <li class="add-cat-item-mp">
                                <a href="#">
                                    <img class="img-fluid" src="{{ asset('img/flats.jpg') }}" alt="Kategoria Mieszkania">
                                    <span class="cat-name">Mieszkania</span>
                                </a>
                            </li>

                            <li class="add-cat-item-mp">
                                <a href="#">
                                    <img class="img-fluid" src="{{ asset('img/house1.jpg') }}" alt="Kategoria Domy">
                                    <span class="cat-name">Domy</span>
                                </a>
                            </li>

                            <li class="add-cat-item-mp">
                                <a href="#">
                                    <img class="img-fluid" src="{{ asset('img/room3.jpg') }}" alt="Kategoria Pokoje">
                                    <span class="cat-name">Pokoje</span>
                                </a>
                            </li>

                            <li class="add-cat-item-mp">
                                <a href="#">
                                    <img class="img-fluid" src="{{ asset('img/plot_01.jpg') }}" alt="Kategoria Działki">
                                    <span class="cat-name">Działki</span>
                                </a>
                            </li>

                            <li class="add-cat-item-mp">
                                <a href="#">
                                    <img class="img-fluid" src="{{ asset('img/moto01.jpg') }}" alt="Kategoria Motoryzacja">
                                    <span class="cat-name">Motoryzacja</span>
                                </a>
                            </li>

                            <li class="add-cat-item-mp">
                                <a href="#">
                                    <img class="img-fluid" src="{{ asset('img/elektro_01.jpg') }}" alt="Kategoria Elektronika">
                                    <span class="cat-name">Elektronika</span>
                                </a>
                            </li>

                            <li class="add-cat-item-mp">
                                <a href="#">
                                    <img class="img-fluid" src="{{ asset('img/moda01.jpg') }}" alt="Kategoria Moda">
                                    <span class="cat-name">Moda</span>
                                </a>
                            </li>

                            <li class="add-cat-item-mp">
                                <a href="#">
                                    <img class="img-fluid" src="{{ asset('img/job_01.jpg') }}" alt="Kategoria Praca">
                                    <span class="cat-name">Praca</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="add-add container-fluid p-5 d-flex justify-content-center align-items-center shadow" style="height: 340px;background-color: #f1f1f1">
        <h2 class="text-dark text-bold">Miejsce na Twoją reklamę</h2>
    </section>

    <section id="add-promoted-adds" class="add-promoted-adds container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <div class="section-title p-5 d-flex justify-content-center align-items-center">
                        <h2 class="text-center text-White text-bold">Promowane Ogłoszenia:</h2>
                    </div>

                    <div class="owl-carousel">
                        {# Card 1 #}
                        <div class="card" style="width: 100%;">
                            <img style="height: 260px;object-fit: cover" src="{{ asset('img/building_01.jpg') }}" class="card-img-top" alt="Building No. 1">
                            <div class="card-body">
                                <h5 class="card-title">Card title 1</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>

                        {# Card 2 #}
                        <div class="card" style="width: 100%;">
                            <img style="height: 260px;object-fit: cover" src="{{ asset('img/building_02.jpg') }}" class="card-img-top" alt="Building No. 1">
                            <div class="card-body">
                                <h5 class="card-title">Card title 2</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>

                        {# Card 3 #}
                        <div class="card" style="width: 100%;">
                            <img style="height: 260px;object-fit: cover" src="{{ asset('img/building_03.jpg') }}" class="card-img-top" alt="Building No. 1">
                            <div class="card-body">
                                <h5 class="card-title">Card title 3</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>

                        {# Card 4 #}
                        <div class="card" style="width: 100%;">
                            <img style="height: 260px;object-fit: cover" src="{{ asset('img/building_04.jpg') }}" class="card-img-top" alt="Building No. 1">
                            <div class="card-body">
                                <h5 class="card-title">Card title 4</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    {% include 'footer.main.html.twig' %}
{% endblock %}
